<div class="row">
<div class="col-lg-12">
  <img src="https://www.fruit-powered.com/wp-content/uploads/2016/12/logo-main.png" />
  </div>
</div>

<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="panel-heading">Resumo</div>
        <div class="col-lg-12">
          <textarea id='order' class='form-control'></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <button class='btn btn-primary btn-block generate-order' data-toggle="tooltip"
            data-trigger="manual" data-placement="top" title="Copiado!">
            Gerar pedido
          </button>
        </div>

        <div class="col-lg-6">
          <button class='btn btn-primary btn-block' onClick='order={};$("#order").val("")'>
            Limpar carrinho
          </button>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <p id="notice"><%= notice %></p>

      <% @products.each do |product| %>
        <div class="col-md-3 col-sm-12 product">
          <%= image_tag product.image.url, size: "400x250", class: 'img-responsive'  %>
          <h4 class="product-title"><%= product.name %></h4>
          <button type="button" class="btn btn-success fa fa-plus js-add-button"
            data-product-id="<%= product.id %>"
            data-product-name="<%= product.name %>">Adicionar
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
var order = {};

$('.js-add-button').click(function(){
  product_id = $(this).data('product-id');
  product_name = $(this).data('product-name');

  item = order[product_id];

  if (item == undefined) {
    order[product_id] = {
      name: product_name,
      qtd: 1
    }
  } else {
    item['qtd'] += 1;
  }

  friendly_output = [];

  product_ids = Object.keys(order)
  var current_product;

  for (i=0 ; i < product_ids.length ; i++) {
    current_id      = product_ids[i];
    current_product = order[current_id];
    friendly_output.push(current_product.name + " (" + current_product.qtd + ")");
  };

  $('#order').val(friendly_output.join(', '));
})

</script>

